<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.hendra.home_list">

    <dist:module
        dist:instant="true"
        dist:title="@string/title_home_list">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>